# DX 602 Final Project

## Introduction

In this project, you will practice the skills that you have learned throughout this module with a heavy focus on building models.
Most of the problems and questions are open ended compared to your previous homeworks, and you will be asked to explain your choices.
Most of them will have a particular type of solution implied, but it is up to you to figure out the details based on what you have learned in this module.

## Instructions

Each problem asks you to perform build models, run a computation, or otherwise perform some analysis of the data, and usually answer some questions about the results.
Make sure that your question answers are well supported by your analysis and explanations; simply stating an answer without support will earn minimal points.

Notebook cells for code and text have been added for your convenience, but feel free to add additional cells.

## Example Code

You may find it helpful to refer to this GitHub repository of Jupyter notebooks for example code.

* https://github.com/bu-cds-omds/dx601-examples
* https://github.com/bu-cds-omds/dx602-examples

Any calculations demonstrated in code examples or videos may be found in these notebooks, and you are allowed to copy this example code in your homework answers.

## Submission

This project will be entirely manually graded.
However, we may rerun some or all of your code to confirm that it works as described.

### Late Policy

The normal homework late policy for OMDS does not apply to this project.
Boston University requires final grades to be submitted within 72 hours of class instruction ending, so we cannot accommodate 5 days of late submissions.

However, we have delayed the due date of this project to be substantially later than necessary given its scope, and given you more days for submission with full credit than you would have had days for submission with partial credit under the homework late policy.
The Thanksgiving holiday was also taken into account in setting the deadline.
Finally, the deadlines for DX 601 and DX 602 were coordinated to be a week apart while giving ample time for both of their projects.

## Shared Imports

For this project, you are forbidden to use modules that were not loaded in this template.
While other modules are handy in practice, modules that trivialize these problems interfere with our assessment of your own knowledge and skills.

If you believe a module covered in the course material (not live sessions) is missing, please check with your learning facilitator.

In [2]:
import math
import sys

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats
import sklearn.linear_model

## Problems

### Problem 1 (5 points)

Pick one of the following data sets to analyze in this project.
Load the data set, and show a random sample of 10 rows.

* [Wine Quality](https://archive.ics.uci.edu/dataset/186/wine+quality) ([PMLB - red subset only](https://github.com/EpistasisLab/pmlb/tree/master/datasets/wine_quality_red))
* [Body Fat](https://www.openml.org/search?type=data&status=active&id=560) ([PMLB](https://github.com/EpistasisLab/pmlb/tree/master/datasets/560_bodyfat))

The PMLB copies of the data are generally cleaner and recommended for this project, but the other links are provided to give you more context.
To load the data from the PMLB Github repository, navigate to the `.tsv.gz` file in GitHub and copy the link from the "Raw" button.

If the dataset has missing data, you should drop the rows with missing data before proceeding.
If the data set you choose has more than ten columns, you may limit later analysis that is requested per column to just the first ten columns.

In [4]:
# YOUR CODE HERE

body = pd.read_csv("560_bodyfat.tsv.gz", sep="\t")

YOUR ANSWERS HERE

In [5]:
body.sample(n=10)

,Density,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,target
6,1.0549,26.0,181.00,69.75,36.400002,105.099998,90.699997,100.300003,58.400002,38.299999,22.900000,31.900000,27.799999,17.700001,19.200001
192,1.0624,42.0,193.50,70.50,40.700001,104.900002,94.099998,102.699997,60.599998,38.599998,24.700001,34.000000,30.100000,18.700001,15.900000
113,1.0503,42.0,163.00,70.25,35.299999,93.500000,89.599998,99.800003,61.500000,37.799999,21.900000,30.700001,27.600000,17.400000,21.299999
108,1.0593,43.0,194.00,75.50,38.500000,110.099998,88.699997,102.099998,57.500000,40.000000,24.799999,35.099998,30.700001,19.200001,17.299999
115,1.0607,40.0,158.00,69.25,36.299999,97.000000,86.599998,92.599998,55.900002,36.299999,22.100000,29.799999,26.299999,17.299999,16.700001
169,1.0610,35.0,172.75,69.50,37.599998,99.099998,90.800003,98.099998,60.099998,39.099998,23.400000,32.500000,29.799999,17.400000,16.500000
12,1.0513,32.0,180.50,69.50,38.400002,102.000000,91.599998,103.900002,63.400002,38.299999,21.500000,32.500000,28.600000,17.700001,20.799999
251,1.0271,74.0,207.50,70.00,40.799999,112.400002,108.500000,107.099998,59.299999,42.200001,24.600000,33.700001,30.000000,20.900000,31.900000
1,1.0853,22.0,173.25,72.25,38.500000,93.599998,83.000000,98.699997,58.700001,37.299999,23.400000,30.500000,28.900000,18.200001,6.100000
105,1.0578,43.0,165.50,68.50,31.100000,93.099998,87.300003,96.599998,54.700001,39.000000,24.799999,31.000000,29.400000,18.799999,18.000000

### Problem 2 (10 points)

List all of the columns and describe them in your own words.

In [6]:
# YOUR CODE HERE
columns = body.columns

YOUR ANSWERS HERE

In [7]:
columns

Index(['Density', 'Age', 'Weight', 'Height', 'Neck', 'Chest', 'Abdomen', 'Hip',
       'Thigh', 'Knee', 'Ankle', 'Biceps', 'Forearm', 'Wrist', 'target'],
      dtype='object')

Column Descriptions:
1. Density - Percent body fat from Siri's equation
2. Age - Years old
3. Weight - Body weight in pounds
4. Height - Height in inches
5. Neck - Circumfrence of Neck (cm)
6. Chest - Circumfrence of Chest (cm)
7. Abdomen - Circumfrence of Abdomen (cm)
8. Hip - Circumfrence of Hip (cm)
9. Thigh - Circumfrence of Thigh (cm)
10. Knee - Circumfrence of Knee (cm)
11. Ankle - Circumfrence of Ankle (cm)
12. Biceps - Arms extended bicep circumfrence (cm)
13. Forearm - Circumfrence of Forearm (cm)
14. Wrist - Circumfrence of Wrist (cm)
15. Target - Estimation of Body Fat Percentage

### Problem 3 (50 points)

Perform an exploratory analysis of the data set.
After your exploratory analysis, pick 3 individual charts that you the think were particularly interesting.
Repeat those charts separately from your original analysis, and after each of those charts, explain what you thought was noteworthy.

In [11]:
# YOUR CODE HERE
body.head()

,Density,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,target
0,1.0708,23.0,154.25,67.75,36.200001,93.099998,85.199997,94.500000,59.000000,37.299999,21.900000,32.000000,27.400000,17.100000,12.300000
1,1.0853,22.0,173.25,72.25,38.500000,93.599998,83.000000,98.699997,58.700001,37.299999,23.400000,30.500000,28.900000,18.200001,6.100000
2,1.0414,22.0,154.00,66.25,34.000000,95.800003,87.900002,99.199997,59.599998,38.900002,24.000000,28.799999,25.200001,16.600000,25.299999
3,1.0751,26.0,184.75,72.25,37.400002,101.800003,86.400002,101.199997,60.099998,37.299999,22.799999,32.400002,29.400000,18.200001,10.400000
4,1.0340,24.0,184.25,71.25,34.400002,97.300003,100.000000,101.900002,63.200001,42.200001,24.000000,32.200001,27.700001,17.700001,28.700001

In [14]:
body.describe().T

,count,mean,std,min,25%,50%,75%,max
Density,252.0,1.055574,0.019031,0.995000,1.041400,1.054900,1.070400,1.108900
Age,252.0,44.884921,12.602040,22.000000,35.750000,43.000000,54.000000,81.000000
Weight,252.0,178.924405,29.389160,118.500000,159.000000,176.500000,197.000000,363.149994
Height,252.0,70.148810,3.662856,29.500000,68.250000,70.000000,72.250000,77.750000
Neck,252.0,37.992064,2.430913,31.100000,36.400002,38.000000,39.425001,51.200001
Chest,252.0,100.824206,8.430476,79.300003,94.350000,99.649998,105.375002,136.199997
Abdomen,252.0,92.555952,10.783077,69.400002,84.574999,90.950001,99.324997,148.100006
Hip,252.0,99.904762,7.164058,85.000000,95.500000,99.300003,103.525000,147.699997
Thigh,252.0,59.405952,5.249952,47.200001,56.000000,59.000000,62.349999,87.300003
Knee,252.0,38.590476,2.411804,33.000000,36.975000,38.500000,39.925001,49.099998
Ankle,252.0,23.102381,1.694894,19.100000,22.000000,22.799999,24.000000,33.900002
Biceps,252.0,32.273413,3.021274,24.799999,30.200001,32.049999,34.325000,45.000000
Forearm,252.0,28.663889,2.020691,21.000000,27.299999,28.700001,30.000000,34.900002
Wrist,252.0,18.229762,0.933585,15.800000,17.600000,18.299999,18.799999,21.400000
target,252.0,19.150794,8.368740,0.000000,12.475000,19.200001,25.299999,47.500000

YOUR ANSWERS HERE

### Problem 4 (5 points)

Plot the correlation matrix of the numeric columns in the data set.
Which pair of different columns were highlighted as the most correlated?

In [ ]:
# YOUR CODE HERE

YOUR ANSWERS HERE

### Problem 5 (10 points)

Pick three different regression model classes to try in problem 6 from the scikit-learn documentation.
For each class, provide a link to the scikit-learn documentation, and a link to another web page describing how that kind of model works.
The second link should not be from scikit-learn, but Wikipedia is acceptable.
You do not need to understand the methods at this time, but it is good to be comfortable researching them.

In [ ]:
# YOUR CODE HERE

YOUR ANSWERS HERE

### Problem 6 (50 points)

Build three different regression models using the entire data set.
Plot the actual target vs the predicted values for each in one chart.
Compute the L2 and L1 losses for each of them.
You may use any regression class provided provided by scikit-learn, and you may reuse one class as long as you change its parameters enough to see different results.

In [ ]:
# YOUR CODE HERE

YOUR ANSWERS HERE

### Problem 7 (30 points)

Use 5-fold cross-validation to repeat building the same three kinds of regression models. Compare the L2 losses predicted by cross-validation against the L2 losses training against the whole data set. (The difference is likely from overfitting in the latter.)

In [ ]:
# YOUR CODE HERE

YOUR ANSWERS HERE

### Problem 8 (25 points)

Build three different regression models as in problem 6, but preprocess the data so that each column has mean zero and standard deviation one first.
For full credit, use a scikit-learn pipeline for each model.
For each model, compare the L2 losses -- which of them performed differently from your results in problem 6?

(This process will be covered in week 13.)

In [ ]:
# YOUR CODE HERE

YOUR ANSWERS HERE

### Problem 9 (5 points)

A colleague suggests that you find better models by repeatedly building decision trees with random depth limits.
They say that trying 1000 such models will likely find an improvement as long as you use cross validation.
Give a one sentence response to this suggestion.

In [ ]:
# YOUR CODE HERE

YOUR ANSWERS HERE

### Problem 10 (10 points)

Pick a best model from all the models that you built and otherwise described in this project.
Explain how you picked it, including what criteria you chose, and how the other models compared by that criteria.
As much as possible, justify that problem in the context of the original data set.

In [ ]:
# YOUR CODE HERE

YOUR ANSWERS HERE